## Is there a relationship between attendance and NY State Math Test?

In [ ]:
import pandas as pd
import datetime

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
att = pd.read_csv('admissions_2013-2022', index_col = 0)

In [ ]:
math_results = "https://raw.githubusercontent.com/aalilyah/DS4a/main/Math_Results_2015-2022.csv"
results = pd.read_csv(math_results, index_col = 0)

In [ ]:
att.Year= att.Year.astype(str)
att_clean_year = []

for x in att.Year:
    list1 = x[5:8]
    att_clean_year.append(list1)
    
att.Year = att_clean_year

In [ ]:
results = results[results.index.str.contains('02M') | results.index.str.contains('24Q')  | 
                results.index.str.contains('31R') | results.index.str.contains('20K')  | 
                results.index.str.contains('10X')]
results = results[(results['Grade']== '6') |(results['Grade']== '7') |(results['Grade']== '8')]

In [ ]:
results.reset_index(inplace = True)

In [ ]:
results.Year= results.Year.astype(str)
results_clean_year = []

for x in results.Year:
    list1 = x[2:4]
    results_clean_year.append(list1)
    
results.Year = results_clean_year

In [ ]:
#math test clean
results.rename(columns = {'School_DBN': 'DBN'}, inplace = True)

In [ ]:
results

In [ ]:
#columns to str to then merge

#att.DBN = att.DBN.astype(str)
#results.DBN = results.DBN.astype(str)

#att.Year = att.Year.astype(str)
#results.Year = results.Year.astype(str)

#att.Grade = att.Grade.astype(str)
#results.Grade = results.Grade.astype(str)

In [ ]:
results.Number_Level_1= results.Number_Level_1.str.replace('s', '0').astype(float)
results.Percentage_Level_1= results.Percentage_Level_1.str.replace('s', '0').astype(float)
results.Number_Level_2= results.Number_Level_2.str.replace('s', '0').astype(float)
results.Percentage_Level_2= results.Percentage_Level_2.str.replace('s', '0').astype(float)
results.Number_Level_3= results.Number_Level_3.str.replace('s', '0').astype(float)
results.Percentage_Level_3= results.Percentage_Level_3.str.replace('s', '0').astype(float)
results.Number_Level_4= results.Number_Level_4.str.replace('s', '0').astype(float)
results.Percentage_Level_4= results.Percentage_Level_4.str.replace('s', '0').astype(float)
results['Number_Level_3+4']= results['Number_Level_3+4'].str.replace('s', '0').astype(float)
results['Percentage_Level_3+4']= results['Percentage_Level_3+4'].str.replace('s', '0').astype(float)

In [90]:
test = att.merge(results, how = 'left', on = ['DBN', 'Year']).dropna(axis = 0)
test

,DBN,Year,% Attendance,School_Name,Grade,Category,Number_Tested,Mean_Scale_Score,Number_Level_1,Percentage_Level_1,Number_Level_2,Percentage_Level_2,Number_Level_3,Percentage_Level_3,Number_Level_4,Percentage_Level_4,Number_Level_3+4,Percentage_Level_3+4
1,02M104,15,96.9,J.H.S. 104 SIMON BARUCH,6,All Students,376.0,326,53.0,14.1,82.0,21.8,81.0,21.5,160.0,42.6,241.0,64.1
2,02M104,15,96.9,J.H.S. 104 SIMON BARUCH,7,All Students,327.0,328,41.0,12.5,83.0,25.4,104.0,31.8,99.0,30.3,203.0,62.1
3,02M104,15,96.9,J.H.S. 104 SIMON BARUCH,8,All Students,257.0,316,53.0,20.6,74.0,28.8,76.0,29.6,54.0,21.0,130.0,50.6
4,02M104,16,96.7,J.H.S. 104 SIMON BARUCH,6,All Students,358.0,329,32.0,8.9,83.0,23.2,91.0,25.4,152.0,42.5,243.0,67.9
5,02M104,16,96.7,J.H.S. 104 SIMON BARUCH,7,All Students,379.0,333,44.0,11.6,75.0,19.8,107.0,28.2,153.0,40.4,260.0,68.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30798,31R861,16,94.9,STATEN ISLAND SCHOOL OF CIVIC LEADERSHIP,7,All Students,101.0,322,22.0,21.8,24.0,23.8,31.0,30.7,24.0,23.8,55.0,54.5
30799,31R861,16,94.9,STATEN ISLAND SCHOOL OF CIVIC LEADERSHIP,8,All Students,98.0,313,17.0,17.3,42.0,42.9,28.0,28.6,11.0,11.2,39.0,39.8
30800,31R861,17,94.0,STATEN ISLAND SCHOOL OF CIVIC LEADERSHIP,6,All Students,94.0,313,17.0,18.1,33.0,35.1,18.0,19.1,26.0,27.7,44.0,46.8
30801,31R861,17,94.0,STATEN ISLAND SCHOOL OF CIVIC LEADERSHIP,7,All Students,98.0,315,15.0,15.3,43.0,43.9,29.0,29.6,11.0,11.2,40.0,40.8
30802,31R861,17,94.0,STATEN ISLAND SCHOOL OF CIVIC LEADERSHIP,8,All Students,95.0,306,25.0,26.3,36.0,37.9,24.0,25.3,10.0,10.5,34.0,35.8

In [ ]:
att.head()

In [91]:
test.to_csv('attendace_corr_statemathtest')

In [ ]:
results

In [ ]:
df = test.groupby(['DBN','% Attendance','Mean_Scale_Score']).size().reset_index().drop(columns = 0)
df

In [ ]:
df = test.groupby(['DBN','% Attendance'])[['Number_Level_1','Percentage_Level_1','Number_Level_2','Percentage_Level_2','Number_Level_3',
                                   'Percentage_Level_3','Number_Level_4','Percentage_Level_4','Number_Level_3+4','Percentage_Level_3+4']].mean()


df

In [ ]:
sns.barplot(x='% Attendance', y = ['Number_Level_1','Percentage_Level_1','Number_Level_2','Percentage_Level_2','Number_Level_3',
                                   'Percentage_Level_3','Number_Level_4','Percentage_Level_4','Number_Level_3+4','Percentage_Level_3+4'], data = df)

In [ ]:
#candle cart.. high low or mean.

In [ ]:
x is year y is district ... then break down by grade level to filter.. 

out of all the district which 

distrcit do over years. do it over all district then compare the district...

line graph to see correlation to see which district vs attendance...


what we are hoping to see as out end product... is the goal to say our data shows these last few years... 
all still do well throughout the years... 

how are each district doing throughtout the year by grade..